<div class="beian">
  <span>
    <a href="https://icp.gov.moe/?keyword=20255921" target="_blank">萌ICP备20255921号</a>
    <a href="https://stats.uptimerobot.com/iYb3gj505W">
      网站服务状态监测
    </a>
  </span>
</div>
