<div class="beian">
  <span>
    <a href="https://icp.gov.moe/?keyword=20245921" target="_blank" rel="nofollow noopener">
      萌 ICP 备 20245921 号
    </a>
    <a href="https://stats.uptimerobot.com/iYb3gj505W">
      网站服务状态监测
    </a>
  </span>
</div>
